<h2>{{ selectedProductName  }}</h2>

@if (selectedProductList.length > 0) {
  <div class="product-grid">
    @for (product of selectedProductList; track product.pid) {
      <a [routerLink]="['/product-details', selectedProductId, product.pid]" class="product-card">
        <div class="product-card">
          @if (product.src) {
            <img [src]="product.src" alt="{{ product.model }}" class="product-image" />
          }
          <div class="product-details">
            <h3>{{ product.model }}</h3>
            <p>{{ product.storageOptions[0].size }}</p>
            <p class="price">Price: ₹{{ product.storageOptions[0].price }}</p>
          </div>
        </div>
      </a>
    }
  </div>
} @else {
  <p>No product details found.</p>}