<nav class="navbar">
    <div class="logo">
      <img src="assets/ecommerce logo.png" alt="E-Commerce Logo" />
      <div class="search-box">
        <input type="text" placeholder="Search products..." />
        <button>
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    
    <div class="navigation">
        <button class="loginbtn"><i class="fa-solid fa-user-tie"></i> LOGIN</button>
        <button class="cartbtn">
          <i class="fa-solid fa-cart-shopping"></i> <span>Cart</span>
        </button>
    </div>
    
  </nav>
  