.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2874f0;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 8rem;
}
.logo{
  display: flex;
}
.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 13px 16px;
  width: 25rem;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
}

.search-box button {
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  background-color: transparent;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-box i {
  font-size: 25px;
  color: aliceblue;
}

.loginbtn,
.cartbtn {
  height: 3rem;
  width: 6rem;
  border-radius: 20px;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: antiquewhite;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginbtn:hover {
  background-color: aliceblue;
  color: #2874f0;
}

.cartbtn {
  font-size: 18px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Mobile-first (smaller screens) */
@media (max-width: 768px) {
  .navbar {
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 1rem;
  }

  .logo img {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .search-box input {
    width: 10rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
  }

  .navigation {
    width: 100%;
    /* justify-content: space-between; */
  }
}