<div *ngIf="isLoginMode; else registerTemplate">
  <form (ngSubmit)="onLogin()">
      <input type="email" placeholder="email" name="email" [(ngModel)]="loginEmail">
      <input type="password" placeholder="password" name="password" [(ngModel)]="loginPassword">
      <button type="submit">Login</button>
      <p>If Don't have an account? <button type="button" (click)="toggleMode()">Register</button></p>
  </form>
</div>

<ng-template #registerTemplate>
  <form (ngSubmit)="onRegister()">
      <input type="text" placeholder="userName" name="userName" [(ngModel)]="registerUserName">
      <input type="email" placeholder="email" name="email" [(ngModel)]="registerEmail">
      <input type="password" placeholder="password" name="password" [(ngModel)]="registerPassword">
      <button type="submit">Register</button>
      <p>Already Registered? <button type="button" (click)="toggleMode()">Login</button></p>
  </form>
</ng-template>
