@if(productDetails){
   
<div class="product-details-container">
    
    <img [src]="productDetails.src" alt="{{ productDetails.model }}" class="product-image" />
    <div class="product-specs">
      <button class="buy product-button">Buy Now</button>
      <button class="cart product-button" (click)="addToCart()">Add to  <i class="fa-solid fa-cart-shopping"></i> </button>
        <h1>{{productDetails.model}}</h1>
      <p><strong>Specs:</strong> {{ productDetails.specs }}</p>
      <p><strong>Price:</strong> ₹{{ productDetails.price }}</p>

     @if (colors) {
  <div class="color_container">
    @for (c of colors; track c) {
      <div 
        class="colors" 
        [style.background]="c.code" 
        [title]="c.name"
        (click)="onSelectColor(c.name)">
      </div>
    }
  </div>
}

   
      <button
      (click)="onShowFullSpec()" class="toggle-button" > {{ isFullSpec ? 'See Less Specifications' : 'See Full Specifications' }}</button>
       <br>
       <br>
      @if(isFullSpec){
        <div class="full-spec">
         <h3>Full Specifications</h3>
         <ul>
          @for ( key of fullSpecKeys; track key) {
        <li><strong>{{ key }} : </strong> {{ productDetails.fullSpecs[key] }}</li>
      }
         </ul>
        </div>
      }

    </div>
</div>
}
  
  @else {
    <p>No Product Found!</p>
  }
  