@if(productDetails){
   
<div class="product-details-container">
    
    <img [src]="productDetails.src" alt="{{ productDetails.model }}" class="product-image" />
    <div class="product-specs">
        <h1>{{productDetails.model}}</h1>
      <p><strong>Specs:</strong> {{ productDetails.specs }}</p>
      <p><strong>Price:</strong> ₹{{ productDetails.price }}</p>
    <button class="buy">Buy Now</button>
    <button class="cart">Add to  <i class="fa-solid fa-cart-shopping"></i> </button>

    </div>
</div>
}
  
  @else {
    <p>No Product Found!</p>
  }
  