<h2>Review Your Order</h2>

@if(cartItems.length>0){
    
    @for(item of cartItems;track item){

        <div class="order-items">
            <h3>{{item.model}}</h3>
        <img [src]="item.src" alt="">
       <div>
         <p>{{item.specs}}, <strong>{{ item.selectedColor }}</strong></p>
        <p> <strong>Quantity:</strong> {{item.quantity}}</p>
        <p>Price: ₹{{ item.price }}</p>
       </div>
        </div>
        
    }

    <h3>Total Amount : {{totalAmount }}</h3>
    <button class="cnfOrder" (click)="confirmOrder()" >Confirm order</button>
}