<h2>Cart</h2>

@if (cartItems.length > 0) {
  @for (item of cartItems; track item.pid) {
    <div class="cart-item">
      <img [src]="item.src" alt="{{ item.model }}" />
      <div class="product-details">
        <h3>{{ item.model }}</h3>
        <p>{{ item.specs }}</p>
        <p class="price">Price: ₹{{ item.price }}</p>
        <p class="quantity">Quantity: {{ item.quantity }}</p>

        <button class="Q" (click)="decrease(item.pid)">−</button>
        <button class="Q" (click)="increase(item.pid)">+</button>
        <button (click)="remove(item.pid)">Remove</button>
      </div>
    </div>
  }
  @if (cartItems.length > 0) {
  <div class="cart-total">
    <h3>Total: ₹{{ getTotal() }}</h3>
  </div>
}

} @else {
  <div class="cart-empty-message">Your cart is empty.</div>
}
