<div class="grade">
  <div id="image-container">
    <div id="slider">
      @for (image of images; track image) {
        <a [routerLink]="image.link"><img [src]="image.src" [alt]="image.alt" /></a>
      }
      <!-- Clone of the first image for seamless loop -->
      <img [src]="images[0].src" [alt]="images[0].alt" />
    </div>
  </div>

  <p class="dots">
    @for (image of images; let i = $index; track image) {
      <span class="dot" [class.active]="i === current"></span>
    }
  </p>
</div>
