.grade {
  margin: 1rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 400px;
}

#image-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  height: 100%;
}

#slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

#slider img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.dots {
  text-align: center;
  margin-top: 1px;
}

.dot {
  height: 5px;
  width: 10px;
  margin: 0 10px;
  background-color: #333;
  border-radius: 50px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #6f71e0;
  animation: shrink 3s ease-in-out forwards;
}

@keyframes shrink {
  0% {
    transform: scaleX(3);
  }
  100% {
    transform: scaleX(1);
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .grade {
    height: 400px;
  }
  
  /* #image-container {
    aspect-ratio: 16 / 10; /* Makes image container a bit taller on small screens */
  } 

  /* #slider img {
    object-fit: contain; /* Prevents cropping */
  
