<h2>{{selectedProductName}}</h2>

@if(selectedProductList.length > 0){
  <div class="product-grid">
    @for(product of selectedProductList; track product){
     
      <a [routerLink]="['/appliance-product',selectedProductId,product.pid]">
         <div class="product-card">
        <img [src]="product.src" [alt]="product.alt">
        <p class="product-name">{{product.Product_name}}</p>
        <p class="product-id">Price:  ₹{{product.price}}</p>
      </div>
      </a>
    }
  </div>
}
 @else {
  <p>No products available.</p>
}
