html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: aliceblue;
  color: #000;
  overflow: hidden;
  padding-top: 80px;
  overflow: scroll;
 
}

* {
  box-sizing: border-box;

}